/* Top navigation */
.topnav {
  background-color: #13294B;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  width: 100%;
  min-height: 46px;
}

.topnav #myLinks {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.topnav a.icon {
  display: none;
}

.topnav img {
  margin-bottom: 0;
  margin-top: 10pt;
  margin-left: 30%;
}

.topnav a.normal {
  float: none;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 9px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.normal:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.right {
  margin-right: 0;
}

@media print, screen and (max-width: 1000px) {
  .topnav #myLinks {
    width: auto;
    margin: 0 3%;
  }

  .topnav img {
    margin-left: 3%;
  }

  .topnav a.normal {
    padding: 10px 5px;
  }
}

@media print, screen and (max-width: 960px) {
  .topnav #myLinks {
    display: none;
  }

  .topnav a.normal {
    color: white;
    float: none;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    color: white;
    display: block;
    padding: 10px 16px;
    font-size: 17px;
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    margin-right: 5%;
  }

  .topnav a.right {
    color: white;
    float: none;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin-right: 0;
  }
}
